<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/public/navigation.css">
</head>
<body>
  <%- include('partials/nav.ejs', {user:userInfo}) %>
  <main>
    <h1>You are not allowed to see that page</h1>
  </main>
</body>
</html>
